/* Genel Arka Plan */
.root {
    -fx-background-color: #f4f7f6;
    -fx-font-family: 'Segoe UI', sans-serif;
}

/* Tablo Tasarımı */
.table-view {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 5;
    -fx-padding: 10;
}

.table-view .column-header-background {
    -fx-background-color: #2c3e50;
    -fx-background-radius: 5 5 0 0;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-size: 45px;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER-LEFT;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: #ecf0f1;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:selected {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

/* Buton Tasarımları */
.button {
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 8 20 8 20; /* İç boşluk */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 2);
}

/* Ekle Butonu (Yeşil) */
#addButton {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
}
#addButton:hover {
    -fx-background-color: #2ecc71;
}

/* Sil Butonu (Kırmızı) */
#deleteButton {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
}
#deleteButton:hover {
    -fx-background-color: #c0392b;
}